# ignore root files & root directories
/*
/*/

# unignore this .gitignore
!.gitignore

# unignore obsidian vault configuration
!.obsidian/
# unignore templater templates (only _obsidian-templates/basic/*)
_obsidian-templates/*
!_obsidian-templates/
!_obsidian-templates/basic/
# unignore README folder
!_README/